* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-body {
    background: rgba(226, 225, 225, 0.89);
    max-width: 900vw;
    height: 100vh;
}

.img-body {
    margin: 50px 15px 15px 450px;
    box-shadow: 2px 2px 15px 5px rgb(211, 208, 208);
    border-radius: 5px;
}

.button {
    margin: -10px 15px 15px 450px;
    width: 500px;
    height: 50px;
    font-family: 'Oswald';
    font-size: 20px;
    box-shadow: 1px 2px 2px 5px rgb(211, 208, 208);
    border-color: transparent;
    transform: translateY(15px, 15px);
    background: rgb(119, 182, 255);
}

.sign-up {
    text-decoration: none;
    color: rgb(7, 41, 80);
}
